

.root {
    
}

.label {
    -fx-font-family: 'Ebrima';
}
#chartBox .label {
    -fx-min-width: 500;
    
    -fx-padding: 10;
    -fx-margin: 5;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-alignment: TOP_CENTER;
    
    -fx-background-color: white;
    -fx-font-size: 17;
}

#currentMatch {
    -fx-background-color: rgba(255,255,255,0.7);
}

#currentMatch .button {
        -fx-cursor:hand;
        -fx-border-color: #000;
        -fx-border-width: 2;
        -fx-background-insets: 2;
        -fx-background-radius: 0;
        -fx-font-size: 36;
        -fx-font-weight: bold;
        -fx-effects: none;
        -fx-padding: 1;
}
#currentMatch .button:hover {
    -fx-border-width: 3;
}

#shiroBtn {
    -fx-background-color: white;
    -fx-text-fill: black;

}

#akaBtn {
    -fx-background-color: #d50000;
    -fx-text-fill: white;
    
}


.lvl {
    -fx-font-size: 22;
    -fx-text-fill: white;
}



.border {
    -fx-fill: rgba(0,0,0,0);
    -fx-stroke-width: 1;
}

#borderAka {
    -fx-stroke: #d50000;
}
#borderShiro {
    -fx-stroke: #fff;
}

.nextShiro {
    -fx-text-fill: fff;
}
.nextAka {
    -fx-text-fill: #fff;
}

.vs {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: light;
}
#nextMatch .vs {
    -fx-opacity: 0.7;
}


.current {
    -fx-font-weight: bold;
}



.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
#matchesBox {
    -fx-background-color: transparent;
}

#matchesBox .lvl {
    -fx-font-size :16;
    -fx-text-fill: black;    
    -fx-font-style: italic;
    
    -fx-padding: 15 5 5 5;
    -fx-border-color: blue;
    -fx-border-width: 0 0 1 0;
}

#matchesBox .label {
    -fx-min-width: 500px;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-background-color: transparent;
}




#bracket-chart {
    -fx-border-color:#d50000;
    -fx-border-width: 4;
    
}

#bracket-chart .label {
    
    -fx-font-size: 16;
    -fx-text-fill: rgb(222,222,222);
    -fx-background-color: transparent;
    -fx-min-width: 100;
    -fx-alignment: BASELINE_LEFT;
}
    
#bracket-chart .label.club {
    -fx-font-size: 13;
}
    
#bracket-chart .label.score {
    -fx-font-size: 16;
    -fx-alignment: TOP_RIGHT;
    -fx-min-width: 10;
}

#bracket-chart .line {
    -fx-stroke: rgb(125,125,125);
    -fx-stroke-width: 2;
}